#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 20px;
  line-height: 22px;

  text-decoration-color: #ffffff !important;

  margin: 0;
}

.bottom {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 90%;
  transform: translateY(-50%);
}

.menuIcon {
  font-size: 25px;
}

.headerPadding {
  padding-top: 3px;
  font-weight: bolder;
  text-transform: uppercase;
}

.activePage {
  color: #1894ed;
}

ion-content {
  text-decoration-color: #ffffff !important;
}

// ion-slides, ion-slide {
//   height: 100%;
//   // font-size: 48px !important;
// }

ion-segment {

  --color-checked: #1894ed;

  // remove scroll bar
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  ion-segment-button {
    --ripple-color: transparent;
    color: #FFFFFF;
    ion-label {
        text-transform: capitalize;
        font-weight: bold;
    }
  }
}

.amrapChip{ padding-left: 10px; }

ion-chip {
  --background: #3dc2ff;
  ion-label {
    color: #ffffff;
    font-weight: bold;
  }
  ion-input {
    color: #ffffff;
    font-weight: bold;
  }
  // --color: "secondary";
}

ion-slides {
  overflow-y: scroll;
    height: 100%;
}

ion-slide.swiper-slide {
    align-items: flex-start;
}

ion-slide {
  overflow-y: scroll;
  padding-top: 10px;
    ion-item {
      --ion-item-background: #121212;
    }
}

app-accordion {
  width: 98%;
}

ion-list {
  width: 100%;
  // height: auto;
  --ion-item-background: #121212;
  // --min-height: 0;
  // --background: var(#121212, var(--ion-background-color, #fff));
}

ion-item{
  --inner-padding-end: 0px;
  --padding-start: 7px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --min-height: 0;
  margin: 0;
  --background: #121212;
}

ion-checkbox {
  margin-top: 2px;
  margin-right: 10px;
  margin-bottom: 0px;
  --size: 25px
}

.buttonFinish {
  width: 90%;
  font-weight: bold;
  margin-top: 10px;
  --border-radius: 8px;
  --color: #121212;
}


// ion-card {
//     height: 95%;
//     width: 100%;
//     --background: #e3f2fd;
//     // --color:white
// }
