<ion-app>

  <ion-menu side="start" type="overlay" menuId="sideMenu" contentId="main">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
         <!-- (click)="redirect('home')" -->
        <ion-menu-toggle>
          <ion-item routerLink='home'>
            <ion-icon style="color: #ffffff" name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink='program'>
            <ion-icon style="color: #ffffff" name="barbell-sharp" slot="start"></ion-icon>
            <ion-label>Program</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item  routerLink='program-mgmt'>
            <ion-icon style="color: #ffffff" name="file-tray-full" slot="start"></ion-icon>
            <ion-label>Manage Programs</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink='calculator'>
            <ion-icon style="color: #ffffff" name="calculator" slot="start"></ion-icon>
            <ion-label>1RM Calculator</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <!-- <ion-menu-toggle>
          <ion-item routerLink='profile'>
            <ion-icon style="color: #ffffff" name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink='settings'>
            <ion-icon style="color: #ffffff" name="settings-sharp" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink='about'>
            <ion-icon style="color: #ffffff" name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
        </ion-menu-toggle> -->

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-tabs mode="md" id="bottomTabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="program">
        <ion-icon name="barbell-sharp"></ion-icon>
        <ion-label>Program</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="calculator" >
        <ion-icon name="calculator"></ion-icon>
        <ion-label>1RM Calculator</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-app>
